html {
    scroll-behavior: smooth;
}

body {
    background-color: #4bcca1;
    margin-top: 20px;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    min-height: 450px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}


.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.chat-app .chat-history {
    height: 400px;
    overflow-x: auto;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 38px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.time-sender {
    font-size: small;
    font-family: math;
}

.time-left {
    font-size: small;
    font-family: math;
    margin-left: -10px;
}

.user-name {
    margin-bottom: -8px;
    font-size: small;
    font-family: ui-sans-serif;
    font-style: italic;
    color: rgb(132, 41, 216);
    padding: 0.1em;
}

.chat .chat-history .message {
    color: #444;
    padding: 5px 29px;
    line-height: 17px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    min-width: 25%;
    max-width: 70%;
    border: outset;
    border-color: #3a1e11;

}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: aliceblue;
    border: inset;
    border-color: maroon;

}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #4f4086;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: antiquewhite;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #b04bbc;
    left: 76%;
}

.chat .chat-message {
    padding: 20px;

}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {

    /*.row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    } */
    .chat .chat-header {
        padding: 15px 20px;
        border-bottom: 2px solid #f4f7f6
    }

    .form-control {
        max-width: 100%;
    }

    body {
        background-color: #f8f9fa;
        margin-top: 14px;
    }

    .chat-app .people-list {
        position: fixed;
        top: 0;
        bottom: 0;
        background: #fff;
        left: 0;
        right: 0;
        z-index: 100;
        width: auto;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .people-open .people-list {
        transform: translateX(0%);
    }

    .people-open .toggle-btn {
        position: fixed;
        right: 10px;

    }

    .people-open .hamburger {
        transform: rotate(.625turn);
    }

    .people-open .hamburger::before {
        transform: rotate(90deg) translate(-6px);
    }

    .people-open .hamburger::after {
        opacity: 0;
    }

    .people-open #search {
        max-width: 70%;
    }

    .toggle-btn {
        padding: 1em;
        border-style: none;
        background: border-box;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        right: 28px;
    }

    .hamburger {
        display: block;
        position: relative;

    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: #131212;
        width: 1em;
        height: 2px;
        border-radius: 0.5em;
        transition: transform 250ms ease-in-out;

    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        right: 0;
        left: 0;
        position: absolute;
    }

    .hamburger::before {
        top: 6px;
    }

    .hamburger::after {
        bottom: 6px;
    }

    .chat-app .chat {
        margin: 0
    }


    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }

    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }

    .time-sender {
        font-size: x-small;
        margin-right: 48px;
        font-family: math;
        margin-bottom: -3px
    }

    .time-left {
        font-size: x-small;
        margin-left: 48px;
        font-family: math;
        margin-bottom: -3px
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }

    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}